@model IEnumerable<Globers.Models.LibroModel>

    @{
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.isbn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.editorial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sipnosis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nPaginas)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.isbn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.editorial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sipnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nPaginas)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.isbn  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.isbn  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.isbn  })
                </td>
            </tr>
            }
        </tbody>
    </table>
